*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
}

.container{
    margin: 0 auto;
    width: 1920px;
    height: 1404px;
    background-color: #FFFFFF;
}
header{
    height: 90px;
    background-color: #0073A1;

}
h1  {

    border-bottom: 1px solid #000000;
    padding: 0 40px 30px 40px;
    margin-bottom: 60px;
    color: #555555;
    font-size:20px;

}
h2{

    margin-bottom: 5px;
    font-size: 20px;
}
.main{
    padding: 40px 165px;
   background-color: #F4F6F6;
}
.blink{
    padding: 20px 40px;
}
.date{
    margin-bottom: 28px;
    font-size: 18px;
    color: #0073A1;
}
.card{
    margin-bottom: 40px;

}
.first{
    box-shadow: 0 4px 4px grey;
    background-color: #FAFAFA;
    position: relative;
    color: #000000;

}
.top{
    color: #003471;
}
.second{
   box-shadow: 0 4px 4px grey;
    font-size: 20px;
    background-color: #FFFFFF;
    color: #555555;

}
button{
    width: 230px;
    height: 60px;
    background: #0073A1;
    border-radius: 40px;
    font-size: 20px;
    color: #FFFFFF;
}